<body>
  <div class="container task-list" style="gap: 1.5rem;">
    <h3>Task Management</h3>
    <div class="form-group">
      <label class="form-label" for="title">Task Title</label>
      <input class="form-control" type="text" name="title" [(ngModel)]="newTaskTitle">
    </div>
    <button class="btn btn-outline-info" (click)="addTask()">Add Task</button>
  
    <ul>
      <li *ngFor="let task of tasks" [@taskAnimation] [class.completed]="task.completed">
        <span [ngClass]="{'completed':task.completed}" [@toggleCompletion] (click)="toggleTaskCompletion(task)">{{task.title}}</span>
        <button (click)="deleteTask(task.id)">Delete</button>
      </li>
    </ul>
  </div>
</body>
